html
  head
    title='DevOps Workshop'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Si usted ve esto..
        p
        P
        img(src=href="https://frinkiac.com/video/S06E10/CJ9q2AipTOII5tX9M21aiqtmpRw=.gif")
        p
